@use "./bootstrap/zero" as bootstrap;
@use "./shared" as shared;

.CVHero {
  @include shared.hero;

  background-image: url("/img/flowers.jpg");
  background-position: center;
  background-repeat: repeat;
}
