@use "./bootstrap";

header {
  padding-top: 2rem;
  padding-bottom: 2rem;

  h1 {
    font-size: 2rem;
    margin-left: 0.5rem;
  }

  .navbar {
    font-size: 1rem;
  }

  .navbar-dark .navbar-nav .nav-item {
    .nav-link {
      color: white;
    }

    &:not(.active) .nav-link:hover {
      opacity: 0.8;
    }

    &.active .nav-link {
      font-weight: bolder;
      text-decoration: underline;
    }
  }
}
