@use "./bootstrap/zero" as bootstrap;

.ResearchHero {
  max-height: 400px;
  height: 30vw;
  min-height: 80px;

  background-color: black;
  background-image: url("/img/gem.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  :global(.container) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100%;
  }

  h1 {
    @include bootstrap.make-col-ready();
    @include bootstrap.make-col(12);

    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
  }
}

.ResearchSection {
  @include bootstrap.make-row();
  min-height: 85vh;
  align-items: center;

  .Image,
  .Contents {
    @include bootstrap.make-col-ready;
    @include bootstrap.make-col(6);
  }

  .Contents {
    order: 2;

    & > * {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      text-align: center;
    }
  }

  &:nth-child(even) .Image {
    order: 3;
  }
}
