@use "./bootstrap/zero" as bootstrap;
@use "./shared" as shared;

.ResearchHero {
  @include shared.hero;

  background-color: black;
  background-image: url("/img/gem.jpg");
  background-position: center;
  background-size: cover;

  h1 {
    color: white;
  }
}

.ResearchSection {
  @include bootstrap.make-row();
  min-height: 100vw;
  align-items: center;

  @include bootstrap.media-breakpoint-up(md) {
    max-height: 90vh;

    hr {
      display: none;
    }
  }

  hr {
    @include bootstrap.make-col(12);
    margin-bottom: 3rem;

    order: 4;
  }

  &:last-child hr {
    display: none;
  }

  .Image,
  .Contents {
    @include bootstrap.make-col-ready;
    @include bootstrap.make-col(6);

    @include bootstrap.media-breakpoint-down(sm) {
      @include bootstrap.make-col(12);
    }
  }

  .Contents {
    order: 2;

    & > * {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      text-align: center;
    }
  }

  @include bootstrap.media-breakpoint-up(md) {
    &:nth-child(even) .Image {
      order: 3;
    }
  }
}
